.container{
	width: 100%;
	margin: 0 auto;
	max-width: 640px;
	min-width: 450px;
	background: #f3f3f3;
}
.logo{
	background: #4cc344;
	height: 80px;
	/*line-height: 80px;*/
}
.logo>ul{
	display: flex;
	justify-content: space-between;
}
.logo>ul>li{
	display: flex;
}
.logo>ul>li:nth-child(1){
	flex: 1;
}
.logo>ul>li:nth-child(2){
	flex: 2;
	height: 60px;
	margin: auto;
	position: relative;
	justify-content: flex-end;
	background: white;
}
.logo>ul>li:nth-child(3){
	flex: 1;
}
.logo>ul>li>div{
	flex: 1;
	text-align: center;
}
.logo>ul>li>div>img{
	width: 50%;
	margin-top: 30px;
}
.logo>ul>li>b{
	flex: 1;
	font-size: 18px;
	line-height: 80px;
	text-align: center;
	color: white;
	display: flex;
}
.logo>ul>li>b>i{
	width: 17px;
	height: 15px;
	background: url(../img/global.png)no-repeat;
	background-position: -60px -26px;
	margin-left: 10px;
	margin-top: 30px;
}
.logo>ul>li:nth-child(2)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 200px 200px;
	background-position: -145px 0;
	position: absolute;
	top: 39%;
	left: 8%;
}
.logo>ul>li:nth-child(2)>input{
	width: 80%;
}
.logo>ul>li:nth-child(3)>div{
	display: flex;
	font-size: 18px;
	color: white;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.logo>ul>li:nth-child(3)>div:nth-child(1)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 150px 150px;
	background-position: -74px -29px;
	margin: 10px auto 0;
}
.logo>ul>li:nth-child(3)>div:nth-child(2)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 150px 150px;
	background-position: -110px -29px;
	margin: 10px auto 0;
}
.logo>ul>li:nth-child(3)>div>div{
	width: 100%;
	text-align: center;
	height: 30px;
}
.bannerPic{
	background: white;
}
.bannerPic>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.bannerPic>ul>li{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
.bannerPic>ul>li>i{
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/5.1.png)no-repeat;
	background-position: -19px -18px;
	margin: 10px auto 0;
}
.bannerPic>ul>li>b{
	width: 100%;
	text-align: center;
	font-size: 16px;
}
.bannerPic>ul>li:nth-child(2)>i{
	background-position: -118px -18px;
}
.bannerPic>ul>li:nth-child(3)>i{
	background-position: -217px -18px;
}
.bannerPic>ul>li:nth-child(4)>i{
	background-position: -316px -18px;
}
.bannerPic>ul>li:nth-child(6)>i{
	background-position: -118px -118px;
}
.bannerPic>ul>li:nth-child(7)>i{
	background-position: -217px -118px;
}
.bannerPic>ul>li:nth-child(8)>i{
	background-position: -316px -118px;
}
.bannerPic>ul>li:nth-child(5)>i{
	background-position: -19px -118px;
}
.bannerPic>div{
	display: flex;
}
.bannerPic>div>div{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	background: #fbfbfb;
	justify-content: space-around;
}
.bannerPic>div>div>div>img{
	width: 80%;
	height: 80%;
	margin: auto;
}
.bannerPic>div>div>div>b{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 30px;
	margin-top: 10px;
}
.bannerPic>div>div>div>span{
	width: 100%;
	text-align: center;
	color: #666666;
	line-height: 30px;
}
.erCar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
	background: white;
	box-sizing: border-box;
	padding: 20px;
}
.erCar>p{
	width: 100%;
	font-size: 25px;
}
.erCar>a{
	width: 25%;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.erCar>a:hover{
	text-decoration: none;
}
.erCar>a>i{
	margin: auto;
	display: block;
	width: 60px;
	height: 60px;
	background: url(../img/5.1.png)no-repeat;
	background-position: -3px -205px;
}
.erCar>a:nth-child(15)>i{
	background-position: -99px -205px;
}
.erCar>a:nth-child(16)>i{
	background-position: -199px -205px;
}
.erCar>a:nth-child(17)>i{
	background-position: -299px -205px;
}
.erCar>a:nth-child(22)>i{
	background-position: -3px -270px;
}
.erCar>a:nth-child(23)>i{
	background-position: -99px -270px;
}
.erCar>a:nth-child(24)>i{
	background-position: -199px -270px;
}
.erCar>a:nth-child(25)>i{
	background-position: -299px -270px;
}
.erCar>div{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #CCCCCC;
}
.erCar>b{
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #4cc344;
	font-size: 20px;
	cursor: pointer;
}
.huoCar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 10px;
	background: white;
	box-sizing: border-box;
	padding: 20px;
}
.huoCar>p{
	width: 100%;
	font-size: 25px;
}
.huoCar>a{
	width: 25%;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
.huoCar>a:hover{
	text-decoration: none;
}
.huoCar>b{
	width: 25%;
	text-align: center;
	color: #4cc344;
	font-size: 18px;
	cursor: pointer;
	margin-top: 20px;
}

.footer{
	background: #666666;
}
.footer>ul:nth-child(1){
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer>ul:nth-child(1)>li{
	width: 14%;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-top: 10px;
}
.footer>ul:nth-child(1)>li:nth-child(8){
	width: 100%;
	height: 1px;
	border-bottom: 1px solid white;
}
.footer>ul:nth-child(2){
	display: flex;
	margin-top: 20px;
}
.footer>ul:nth-child(2)>li{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
}
.footer>ul:nth-child(2)>li>i{
	width: 30px;
	height: 30px;
	background: url(../img/global.png)no-repeat;
	background-size: 200px 200px;
	background-position: -5px -86px;
	margin: auto;
}
.footer>ul:nth-child(2)>li>b{
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: white;
}
.footer>ul:nth-child(2)>li:nth-child(2)>i{
	background-position: -5px -8px;
}
.footer>ul:nth-child(2)>li:nth-child(3)>i{
	background-position: -5px -166px;
}
.footer>ul:nth-child(2)>li:nth-child(4)>i{
	background-position: -5px -45px;
}
.footer>ul:nth-child(3){
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.footer>ul:nth-child(3)>li{
	flex: 1;
	font-size: 20px;
	text-align: center;
	color: white;
}
.footer>p{
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 20px;
}
.footer>div{
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}