.container{
	width: 100%;
	margin: 0 auto;
	max-width: 640px;
	min-width: 450px;
	background: #f7f7f7;
}
.logo{
	background: #4cc344;
	height: 80px;
	/*line-height: 80px;*/
}
.logo>ul{
	display: flex;
	justify-content: space-between;
}
.logo>ul>li{
	display: flex;
}
.logo>ul>li:nth-child(1){
	flex: 1;
}
.logo>ul>li:nth-child(2){
	flex: 2;
	height: 60px;
	margin: auto;
	position: relative;
	justify-content: flex-end;
	background: white;
}
.logo>ul>li:nth-child(3){
	flex: 1;
}
.logo>ul>li>div{
	flex: 1;
	text-align: center;
}
.logo>ul>li>div>img{
	width: 50%;
	margin-top: 30px;
}
.logo>ul>li>b{
	flex: 1;
	font-size: 18px;
	line-height: 80px;
	text-align: center;
	color: white;
	display: flex;
}
.logo>ul>li>b>i{
	width: 17px;
	height: 15px;
	background: url(../img/global.png)no-repeat;
	background-position: -60px -26px;
	margin-left: 10px;
	margin-top: 30px;
}
.logo>ul>li:nth-child(2)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 200px 200px;
	background-position: -145px 0;
	position: absolute;
	top: 39%;
	left: 8%;
}
.logo>ul>li:nth-child(2)>input{
	width: 80%;
}
.logo>ul>li:nth-child(3)>div{
	display: flex;
	font-size: 18px;
	color: white;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.logo>ul>li:nth-child(3)>div:nth-child(1)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 150px 150px;
	background-position: -74px -29px;
	margin: 10px auto 0;
}
.logo>ul>li:nth-child(3)>div:nth-child(2)>i{
	width: 18px;
	height: 18px;
	background: url(../img/global.png)no-repeat;
	background-size: 150px 150px;
	background-position: -110px -29px;
	margin: 10px auto 0;
}
.logo>ul>li:nth-child(3)>div>div{
	width: 100%;
	text-align: center;
	height: 30px;
}
/*生活服务开始*/
.live{
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
	padding: 20px;
	background: white;
}
.live>ul{
	display: flex;
	height: 40px;
	background: #f0f0f0;
	box-sizing: border-box;
	border-bottom: 1px solid black;
}
.live>ul>li{
	flex: 1;
	height: 40px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
.teshu{
	border-bottom: 1px solid #4CC344;
}
.live>p{
	display: flex;
	width: 15%;
}
.live>p>i{
	width: 40px;
	height: 40px;
	background: url(../img/6.1.png)no-repeat;
	background-size: 30px auto;
	background-position: 0 3px;
}
.live>p>b{
	width: 50%;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}
.live>div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.live>div>a{
	width: 49%;
	margin-top: 10px;
}
.live>div>a>img{
	width: 100%;
	height: 100%;
}
/*.family{
	margin-top: 20px;
}*/
.conFamily{
	display: flex;
	margin-top: 20px;
	box-sizing: border-box;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background: white;
}
.conFamily>div:nth-child(1){
	flex: 1;
	text-align: center;
	font-size: 20px;
	color: #64a1a4;
	box-sizing: border-box;
	padding: 20px;
	border-right: 1px solid #CCCCCC;
}
.conFamily>div:nth-child(2){
	flex: 4;
}
.conFamily>div:nth-child(2)>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.conFamily>div:nth-child(2)>ul>li{
	width: 25%;
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	box-sizing: border-box;
	padding-bottom: 10px;
}
.conFamily>div:nth-child(2)>ul>i{
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #CCCCCC;
}
.inputTex{
	background: white;
	display: flex;
	justify-content: center;
}
.con_inputTex{
	display: flex;
	width: 80%;
	height: 40px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.con_inputTex>input{
	width: 80%;
	height: 40px;
}
.con_inputTex>div{
	width: 20%;
	height: 40px;
	display: flex;
}
.con_inputTex>div>b{
	font-size: 30px;
	box-sizing: border-box;
	padding: 4px;
}
.con_inputTex>div>i{
	display: block;
	width: 35px;
	height: 35px;
	margin: 5px auto;
	background: url(../img/6.5.png)no-repeat;
	background-position: -284px -24px;
}
.footer{
	background: #666666;
}
.footer>ul:nth-child(1){
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer>ul:nth-child(1)>li{
	width: 14%;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-top: 10px;
}
.footer>ul:nth-child(1)>li:nth-child(8){
	width: 100%;
	height: 1px;
	border-bottom: 1px solid white;
}
.footer>ul:nth-child(2){
	display: flex;
	margin-top: 20px;
}
.footer>ul:nth-child(2)>li{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
}
.footer>ul:nth-child(2)>li>i{
	width: 30px;
	height: 30px;
	background: url(../img/global.png)no-repeat;
	background-size: 200px 200px;
	background-position: -5px -86px;
	margin: auto;
}
.footer>ul:nth-child(2)>li>b{
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: white;
}
.footer>ul:nth-child(2)>li:nth-child(2)>i{
	background-position: -5px -8px;
}
.footer>ul:nth-child(2)>li:nth-child(3)>i{
	background-position: -5px -166px;
}
.footer>ul:nth-child(2)>li:nth-child(4)>i{
	background-position: -5px -45px;
}
.footer>ul:nth-child(3){
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.footer>ul:nth-child(3)>li{
	flex: 1;
	font-size: 20px;
	text-align: center;
	color: white;
}
.footer>p{
	text-align: center;
	color: white;
	font-size: 18px;
	margin-top: 20px;
}
.footer>div{
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}